body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c5c5c5;
    color: rgb(102, 28, 177);
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

h1, h2, h3 {
    color: #336699;
}

a {
    color: #0077cc;
    text-decoration: none;
}

button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: blue;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: #292929;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}