.contact {
  width: 100%;
  background: var(--bg-color);
}

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 160px 0;
  width: 100%;
  max-width: 1050px;
  margin-inline: auto;
}

.contact__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 691px;
  text-align: center;
}

.section-tag {
  font-family: var(--ff-sans);
  font-weight: var(--fw-bold);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .2px;
  color: var(--primary-color);
}

.section-title {
  font-family: var(--ff-sans);
  font-weight: var(--fw-bold);
  font-size: 42px;
  line-height: 50px;
  letter-spacing: .2px;
  color: var(--text-color);
}

.section-subtitle {
  max-width: 580px;
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .2px;
  color: var(--second-text-color);
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 688px;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

.form-control {
  width: 100%;
  min-height: 58px;
  padding: 14px 20px;
  border-radius: 6px;
  background: var(--light-gray);
  border: 1px solid var(--secondary-color);
  font-size: var(--fs-base);
  color: var(--text-color);
}

.input-textarea {
  min-height: 120px;
  resize: vertical;
}

.form-control:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  font-family: var(--ff-sans);
  font-weight: var(--fw-bold);
  font-size: 14px;
  line-height: 22px;
  color: var(--light-text-color);
  background: var(--primary-color);
  border: none;
  cursor: pointer;
}

.btn-md {
  width: 170px;
  height: 52px;
  padding: 14px 24px;
}

.btn:focus-visible {
  outline: 2px solid var(--secondary-color);
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

@media (max-width: 768px) {
  .contact__container {
    gap: 48px;
    padding: 80px 0;
  }

  .section-title {
    font-size: 28px;
    line-height: 34px;
  }

  .section-subtitle {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    max-width: 327px;
  }

  .contact__form {
    max-width: 324px;
    gap: 24px;
  }
}
